<div class="row">
	<div class="large-12 large-text-center columns main-header">
		<div class="large-10 large-text-center fx-fade-down fx-easing-bounce fx-speed-100 contact-header">
			<div class="contact left">
				<h4 class="text-left">Contact</h4>
				<div class="row">
					<div>
						<ul>
							<li>{{address.street}}</li>
							<li>{{address.city}}</li>
							<li>{{address.state}}</li>
							<li>{{address.zip}}</li>
						</ul>
					</div>
				</div>
				<div class="right">
					<ul class="inline-list">
						<li><a href="tel: {{userInfo.phone}}">{{userInfo.phone}}</a></li>
						<li><a href="{{userInfo.email}}">{{userInfo.email}}</a></li>
						<li><a href=""></a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>