<div class="row">
  <div class="large-12 large-text-center columns main-header">
      <h1 class="fx-fade-down fx-easing-bounce fx-speed-100">{{title}}</h1>
      <p>Work in progress...check out some images while you're here</p>
  </div>
</div>

<div class="row">
  <div class="large-4 medium-6 columns fx-fade-down fx-easing-bounce fx-speed-1000" ng-repeat="awesomeThing in awesomeThings">
    <img class="right project-images" ng-src="images/{{awesomeThing.logo}}" alt="{{awesomeThing.title}}">
  </div>
</div>
