<div class="row">
  <div class="large-12 large-text-center columns resume-header">
      <h4 class="fx-fade-down fx-easing-bounce fx-speed-100">Front-end developer</h4>
  </div>
  <div class="row">
  	<div class="large-10 medium-10 small-12 columns" >
  		<h5>Skills</h5>
  	</div>
  	<div class="large-2 medium-2 small-12  columns">
  		<ul>
  			<li class="first-list">Personal Qualities</li>
  			<li>Team player</li>
  			<li>Self starter/learner</li>
  			<li>Quick learner</li>
  		</ul>
  	</div>
  </div>
</div>